.app {
    max-width: 2000px !important;
    margin-left: auto;
    margin-right: auto;
}

.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.page-link {
    background-color: #6D87A6;
    color: #FFFFFF;
}

.page-item.active {
    color: #FFFFFF;
    background-color: #6D87A6;
    border: none;
}

.pagination-start, .pagination-end {
    background-color: #000000;
    outline: none;
}

.font-size-14px {
    font-size: 14px;
}

.rotate {
    animation: rotation 4s;
}

.linear {
    animation-timing-function: linear;
}

.infinite {
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}